/* cài đặt chung */
*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
	font-family: "font_dulieu";
	src: url("../static/font/OpenSansCondensed-Light.ttf") format("True Type");
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "font_tieude";
	src: url("../static/font/OpenSansCondensed-Light.ttf") format("True Type");
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "font_tieudedb";
	src: url("../static/font/OpenSansCondensed-Bold.ttf") format("True Type");
	font-weight: 700;
    font-style: normal;
}
/* dat bien chung */
:root {
    --main-bg-color: transparent;
    --main-txt-color: blue;
    --main-border-color:black;
    --row-hover-color:yellow;
}

body {
font-family: font-dulieu, font-tieude, font-tieudedb;
font-size:14;
margin: 0;
padding: 0;
border-collapse: collapse;
border-spacing:0;
text-align:center;
}

#ongnganh>.tieude>.col{order:1;flex:0 1 73%;background-color: var(--main-bg-color);}
#ongnganh>.tieude>.col-vl{order:2;flex:0 1 9%;background-color: var(--main-bg-color);color: red;}
#ongnganh>.tieude>.col-nc{order:3;flex:0 1 9%;background-color: var(--main-bg-color);color: blue;}
#ongnganh>.tieude>.col-mtc{order:4;flex:0 1 9%;background-color: var(--main-bg-color);color: magenta;}

.row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items:center;
	height: 100%;
	width:100%;
}
.row:hover *{ 
    background-color: var(--row-hover-color);
}

.col-crud{flex:0 1 auto;background-color: var(--main-bg-color);}
.col-stt{flex:0 1 5%;background-color: var(--main-bg-color);}
.col-chiphi{flex:0 1 25%;background-color: var(--main-bg-color);}
.col-dvt{flex:0 1 5%;background-color: var(--main-bg-color);}
.col-sl{flex:0 1 9%;background-color: var(--main-bg-color);}
.col-vl{flex:0 1 9%;background-color: var(--main-bg-color);color: red;}
.col-nc{flex:0 1 9%;background-color: var(--main-bg-color);color: blue;}
.col-mtc{flex:1 1 9%;background-color: var(--main-bg-color);color: magenta;}

.tongcong>.btn{flex:0 1 46%;background-color: var(--main-bg-color);}
.tongcong>.col-tong{flex:0 1 25%;background-color: var(--main-bg-color);}
.tongcong>.col-vl{flex:0 1 9%;background-color: var(--main-bg-color);color: red;}
.tongcong>.col-nc{flex:0 1 9%;background-color: var(--main-bg-color);color: blue;}
.tongcong>.col-mtc{flex:1 1 9%;background-color: var(--main-bg-color);color: magenta;}

/* canh lề chữ */
.noidung>.col-chiphi{text-align:left;}
.noidung>.col-dvt{text-transform: lowercase;}
.noidung>.col-sl,.col-vl,.col-nc,.col-mtc,input{text-align:right;}

/* kẻ khung */
input{width: 100%;}
.tieude{
	border: 1px solid var(--main-border-color);
	text-transform: uppercase;
	background-color:#CCC;
}
.qt33{
	display:block;
	border: 1px solid var(--main-border-color);
}
.qt34{
	display:block;
	border: 1px solid var(--main-border-color);
}
.noidung{
	border: 0px 1px 0px 1px solid var(--main-border-color);
	text-transform: capitalize;
}
