/* cài đặt chung */
*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
	font-family: "font_dulieu";
	src: url("../static/font/OpenSansCondensed-Light.ttf") format("True Type");
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "font_tieude";
	src: url("../static/font/OpenSansCondensed-Light.ttf") format("True Type");
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "font_tieudedb";
	src: url("../static/font/OpenSansCondensed-Bold.ttf") format("True Type");
	font-weight: 700;
    font-style: normal;
}
/* dat bien chung */
:root {
    --main-bg-color: transparent;
    --main-txt-color: blue;
    --main-border-color:black;
    --row-hover-color:yellow;
}
body {
font-family: font-dulieu, font-tieude, font-tieudedb;
font-size:10;
margin: 0;
padding: 0;
border-collapse: collapse;
border-spacing:0;
}

.row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items:center;
	height: 100%;
	width:100%;
}
.row:hover *{ 
    background-color: var(--row-hover-color);
}

.col0{flex:0 1 5%;background-color: var(--main-bg-color);}
.col1{flex:0 1 32%;background-color: var(--main-bg-color);}
.col2{flex:0 1 5%;background-color: var(--main-bg-color);}
.col3{flex:0 1 7%;background-color: var(--main-bg-color);}
.col4{flex:0 1 7%;background-color: var(--main-bg-color);color: red;}
.col5{flex:0 1 7%;background-color: var(--main-bg-color);color: blue;}
.col6{flex:0 1 7%;background-color: var(--main-bg-color);color: magenta;}
.col7{flex:0 1 10%;background-color: var(--main-bg-color);color: red;}
.col8{flex:0 1 10%;background-color: var(--main-bg-color);color: blue;}
.col9{flex:0 1 10%;background-color: var(--main-bg-color);color: magenta;}

input{width:5em;}

.tieude:{
	border: 1px solid black;
}
.qt33:{
	display:block;
	border: 1px solid black;
}
.qt34:{
	display:block;
	border: 1px solid black;
}
.noidung:{
	border: 0px 1px 0px 1px solid var(--main-border-color);
}
