<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Phòng kế hoạch</title>
        <link rel="stylesheet" href="../static/css/base.css" />
        <link rel="stylesheet" href="../static/css/hoso.css" />
        <!-- Fontawesome for Icons -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <section id="webapp">
            <nav class="vbox">
                <h2>
                    HỒ SƠ KHÁCH HÀNG NĂM
                    <select v-model="curYear">
                        <option
                            v-for="(x,index) in dsnam"
                            :selected="index === 0"
                        >
                            {`x`}
                        </option>
                    </select>
                </h2>
            </nav>
            <header>
                <div class='hbox search'>
                    <div class='stt'></div>
                    <input type="text" v-model="s_sohoso" class='so-ho-so'/>
                    <input type="text" v-model="s_khachhang" class='khach-hang'/>
                    <input type="text" v-model="s_diachi" class='dia-chi'/>
                </div>
            </header>
            <main class="vbox">
                <div class='hbox tieude'>
                    <div class='stt' @click="sortByColumn("stt")>
                        STT
                        <i class="fas fa-sort-alpha-up"></i>
                        <i class="fas fa-sort-alpha-down"></i>
                    </div>
                    <div class='so-ho-so' @click="sortByColumn("sohoso")>Số hồ sơ</div>
                    <div class='khach-hang' @click="sortByColumn("khachhang")>Khách hàng</div>
                    <div class='dia-chi' @click="sortByColumn("diachi")>Địa chỉ</div>
                </div>
                <div class='hbox noidung' v-for="(item, stt) in rowsPage" :key="stt">
                    <div class='stt'>{`stt`}+1</div>
                    <div class='so-ho-so'>{`item.sohoso`}</div>
                    <div class='khach-hang'>{`item.khachhang`}</div>
                    <div class='dia-chi'>{`item.diachi`}</div>
                </div>
            </main>
            <footer>
                <div class="vue-table__pagination-info">
                    Showing {{ showing.begin }} to {{ showing.end }} of
                    {{ showing.total }} entries
                </div>
                <div class="vue-table__pagination">
                    <nav>
                        <ul v-if="pages.length > 1" class="pagination">
                            <li
                                @click="setPage(firstPage)"
                                :class="{'disabled': currentPage == firstPage}"
                            >
                                <a
                                    class="simple-pagination-link"
                                    href="#"
                                    aria-label="Previous"
                                    ><i
                                        class="fa fa-angle-double-left"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                            <li
                                @click="setPage(prevPage)"
                                :class="{'disabled': currentPage == firstPage}"
                            >
                                <a
                                    class="simple-pagination-link"
                                    href="#"
                                    aria-label="Previous"
                                    ><i
                                        class="fa fa-angle-left"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                            <li
                                v-for="page in pages"
                                @click="setPage(page)"
                                :class="{active: page == currentPage}"
                            >
                                <a class="simple-pagination-link" href="#"
                                    >{{ page + 1 }}
                                    <span class="sr-only">(current)</span></a
                                >
                            </li>
                            <li
                                @click="setPage(nextPage)"
                                :class="{'disabled': currentPage == lastPage}"
                            >
                                <a
                                    class="simple-pagination-link"
                                    href="#"
                                    aria-label="Next"
                                    ><i
                                        class="fa fa-angle-right"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                            <li
                                @click="setPage(lastPage)"
                                :class="{'disabled': currentPage == lastPage}"
                            >
                                <a
                                    class="simple-pagination-link"
                                    href="#"
                                    aria-label="Next"
                                    ><i
                                        class="fa fa-angle-double-right"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </footer>
        </section>

        <!-- script block -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="../static/js/hoso.js"></script>
    </body>
</html>
