<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phòng kế hoạch</title>
    <!-- Required Stylesheets
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/qtgt.css">
</head>

<body>
    <div id="qtgt">
        <input type="search" v-model="timcp"
                @click="showDropdown = true"
                @blur="showDropdown = false"
        />
        <ul class="ds-chiphi" v-if="showDropdown">
            <li class="ds-chitiet" v-for="(i1, k1) in cpTailap | filterBy timcp" v-key="k1"
                @click="data5selected(k1)" 
                v-bind:class="{'ds-chitiet--selected': $index == selectedIndex}"
            >{`i1.mota`}-{`i1.dvt`}[{`k1`}]</li>
        </ul>
        <div>
            chiphiid selected= {`timcp`}
        </div>
    </div>

    	    
    <!-- script block -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="../static/js/qtgt.js"></script>
</body>

</html>
