<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phòng kế hoạch</title>
    <!-- Required Stylesheets
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/qtgt.css">
</head>

<body>
    <div id="qtgt">
    	<section id="qt33">
            <div class="row tieude">
                <div class="col-crud">Act</div>
            	<div class="col-id"><b>id</b></div>
                <div class="col-chiphi"><b>Mô tả công tác (ống ngánh)</b></div>
                <div class="col-dvt"><b>Đvt</b></div>
                <div class="col-sl"><b>Số lượng</b></div>
                <div class="col-vl"><b>Giá vl</b></div>
                <div class="col-nc"><b>Giá nc</b></div>
                <div class="col-mtc"><b>Giá mtc</b></div>
                <div class="col-vl"><b>Trị giá vl</b></div>
                <div class="col-nc"><b>Trị giá nc</b></div>
                <div class="col-mtc"><b>Trị giá mtc</b></div>
            </div>
            <div class="row noidung" v-for="(item, stt) in dataqt33" v-key="stt" draggable="true" 
                @dragstart="dragQt33Start(stt, $event)" 
                @dragover.prevent 
                @dragend="dragEnd" 
                @drop="dragQt33Finish(stt, $event)"
            >
                <div class="col-crud">
                    <button type="button" class="btn btn-outline-dark" @click="removeItemQt33(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="col-id">{`stt+1`}</div>
                <div class="col-chiphi">                   
                    <input type="text" v-model="item.machiphi" :id="'qt33cp-' + stt"
                        
                        
                    >
                </div>
                <div class="col-dvt">{`item.dvt`}</div>
                <div class="col-sl">
                	<input type="number" v-model.number="item.soluong" :id="'qt33sl-' + stt"
    					@keyup.enter="downSoluongQt33(stt)"
                        @keyup.down="downSoluongQt33(stt)"
                        @keyup.left="move2ChiphiQt33(stt)"
                	>
                </div>
                <div class="col-vl">{`item.giavl | currency`}</div>
                <div class="col-nc">{`item.gianc | currency`}</div>
                <div class="col-mtc">{`item.giamtc | currency`}</div>
                <div class="col-vl">{`item.trigiavl | currency`}</div>
                <div class="col-nc">{`item.trigianc | currency`}</div>
                <div class="col-mtc">{`item.trigiamtc | currency`}</div>
            </div>
            <div class="row tongcong">
                <div class="btn">
                    <button type="button" class="btn btn-primary" @click="addItemQt33">Add record</button>
                </div>
                <div class="col-tong"><b>Tổngcộng</b></div>
                <div class="col-vl"><b>{`n_vl | currency`}</b></br>vl</div>
                <div class="col-nc"><b>{`n_nc| currency`}</b></br>nc</div>
                <div class="col-mtc"><b>{`n_mtc | currency`}</b></br>mtc</div>
            </div>
        </section>
        </br></br>
        
        </br></br>
        <section id="qt34">
            <div class="row tieude">
                <div class="col-crud">Act</div>
                <div class="col-id"><b>id</b></div>
                <div class="col-chiphi"><b>Mô tả công tác (ống ngánh)</b></div>
                <div class="col-dvt"><b>Đvt</b></div>
                <div class="col-sl"><b>Số lượng</b></div>
                <div class="col-vl"><b>Giá vl</b></div>
                <div class="col-nc"><b>Giá nc</b></div>
                <div class="col-mtc"><b>Giá mtc</b></div>
                <div class="col-vl"><b>Trị giá vl</b></div>
                <div class="col-nc"><b>Trị giá nc</b></div>
                <div class="col-mtc"><b>Trị giá mtc</b></div>
            </div>
            <div class="row noidung" v-for="(item, stt) in dataqt34" v-key="stt" draggable="true" 
                @dragstart="dragQt34Start(stt, $event)" 
                @dragover.prevent 
                @dragend="dragEnd" 
                @drop="dragQt34Finish(stt, $event)"
            >
                <div class="col-crud">
                    <button type="button" class="btn btn-outline-dark" @click="removeItemQt34(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="col-id">{`stt+1`}</div>
                <div class="col-chiphi" :id="'qt34cp-' + stt">{`item.diengiai`}
                    
                </div>
                <div class="col-dvt">{`item.dvt`}</div>
                <div class="col-sl">
                    <input type="number" v-model.number="item.soluong" :id="'qt34sl-' + stt"
                        @keyup.enter="downSoluongQt34(stt)"
                        @keyup.down="downSoluongQt34(stt)"
                        @keyup.left="move2ChiphiQt34(stt)"
                    >
                </div>
                <div class="col-vl">{`item.giavl | currency`}</div>
                <div class="col-nc">{`item.gianc | currency`}</div>
                <div class="col-mtc">{`item.giamtc | currency`}</div>
                <div class="col-vl">{`item.trigiavl | currency`}</div>
                <div class="col-nc">{`item.trigianc | currency`}</div>
                <div class="col-mtc">{`item.trigiamtc | currency`}</div>
            </div>
            <div class="row tongcong">
                <div class="btn">
                    <button type="button" class="btn btn-primary" @click="addItemQt34">Add record</button>
                </div>
                <div class="col-tong"><b>Tổngcộng</b></div>
                <div class="col-vl"><b>{`n_vl | currency`}</b></br>vl</div>
                <div class="col-nc"><b>{`n_nc| currency`}</b></br>nc</div>
                <div class="col-mtc"><b>{`n_mtc | currency`}</b></br>mtc</div>
            </div>
        </section>
    </div>
    <!-- script block -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../static/js/qtgt.js"></script>
</body>

</html>
