<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phòng kế hoạch</title>
    <!-- Required Stylesheets
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/qtgt.css">
</head>

<body>
    <div id="qtgt">
        <section id="ongcai">

        </section>
        </br></br>
        <section id="ongnganh">

        </section>
        </br></br>
        <section id="tailap">

        </section>
        </br></br>
    	<section id="tongket">
    		<div class="row tieude">
            	<div class="col-0"><b>Khoản mục chi phí</b></div>
                <div class="col-1"><b>Cách tính</b></div>
                <div class="col-2"><b>Ký hiệu</b></div>
                <div class="col-3"><b>Ống cái</b></div>
                <div class="col-4"><b>Ống ngánh</b></div>
            </div>
            <div class="row noidung">
                <div class="col-0">1.Chi phí vật tư (trước thuế )</div>
                <div class="col-1">vl</div>
                <div class="col-2">VL</div>
                <div class="col-3">{`c_Vl`}</div>
                <div class="col-4">{`n_Vl`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">2.Chi phí nhân công</div>
                <div class="col-1">nc x {`heso.nc`}</div>
                <div class="col-2">NC</div>
                <div class="col-3">{`c_Nc`}</div>
                <div class="col-4">{`n_Nc`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">3.Chi phí máy thi công</div>
                <div class="col-1">mtc x {`heso.mtc`}</div>
                <div class="col-2">MTC</div>
                <div class="col-3">{`c_Mtc`}</div>
                <div class="col-4">{`n_Mtc`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Cộng</div>
                <div class="col-2">A</div>
                <div class="col-3">{`c_A`}</div>
                <div class="col-4">{`n_A`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">4.Trực tiếp phí khác</div>
                <div class="col-1">A x {`heso.ttpk`}</div>
                <div class="col-2">TT</div>
                <div class="col-3">{`c_Tt`}</div>
                <div class="col-4">{`n_Tt`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Chi phí trực tiếp</div>
                <div class="col-2">T</div>
                <div class="col-3">{`c_T`}</div>
                <div class="col-4">{`n_T`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">5.Chi phí chung</div>
                <div class="col-1">T x {`heso.cpchung`}</div>
                <div class="col-2">C</div>
                <div class="col-3">{`c_C`}</div>
                <div class="col-4">{`n_C`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Giá thành xây dựng</div>
                <div class="col-2">Z</div>
                <div class="col-3">{`c_Z`}</div>
                <div class="col-4">{`n_Z`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">6.Thu nhập chịu thuế tính trước</div>
                <div class="col-1">Z x {`heso.thunhaptt`}</div>
                <div class="col-2">TL</div>
                <div class="col-3">{`c_Tl`}</div>
                <div class="col-4">{`n_Tl`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Giá trị xây dựng trước thuế</div>
                <div class="col-2">G</div>
                <div class="col-3">{`c_G`}</div>
                <div class="col-4">{`n_G`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">7.Chi phí khảo sát, thiết kế</div>
                <div class="col-1">G x {`heso.khaosat`} x {`heso.thietke`} </div>
                <div class="col-2">I</div>
                <div class="col-3">{`c_I`}</div>
                <div class="col-4">{`n_I`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">8.Chi phí giám sát thi công</div>
                <div class="col-1">G x {`heso.gstc`} </div>
                <div class="col-2">J</div>
                <div class="col-3">{`c_J`}</div>
                <div class="col-4">{`n_J`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Tổng giá trị đầu tư xây dựng trước thuế</div>
                <div class="col-2">L(A)</div>
                <div class="col-3">{`c_La`}</div>
                <div class="col-4">{`n_La`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0">9.Thuế GTGT đầu ra</div>
                <div class="col-1">L x 10%</div>
                <div class="col-2">GTGT1</div>
                <div class="col-3">{`c_Vat1`}</div>
                <div class="col-4">{`n_Vat1`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Tổng giá trị đầu tư xây dựng sau thuế</div>
                <div class="col-2">Gxd1</div>
                <div class="col-3">{`c_Gxd1`}</div>
                <div class="col-4">{`n_Gxd1`}</div>
            </div>
            <hr color="black" />
            <section id="qt35">
                <div class="row tieude">
                    <div class="col-tt">TT</div>
                    <div class="col-chiphi">Tái lập mặt đường</div>
                    <div class="col-dvt">Đvt</div>
                    <div class="col-sl1">Sl cái</div>
                    <div class="col-sl2">Sl ngánh</div>
                    <div class="col-gia">Đơn giá</div>
                    <div class="col-tien1">Tiền cái</div>
                    <div class="col-tien2">Tiền ngánh</div>
                </div>
                <div class="row noidung" v-for="(i, k) in data5" v-key="k" draggable="true" 
                    @dragstart="drag5Start(k, $event)" 
                    @dragover.prevent 
                    @dragend="dragEnd" 
                    @drop="drag5Finish(k, $event)"
                >
                    <div class="col-tt">
                        <button type="button" class="btn btn-outline-dark" @click="removeI5(i)">
                            <i class="fa fa-trash"></i>
                        </button>
                         {`k+1`}
                    </div>
                    <div class="col-chiphi">                   
                        <input type="text" v-model="i.machiphi" :id="'cp5-' + k"
                            
                            
                        >
                    </div>
                    <div class="col-dvt">{`i.dvt`}</div>
                    <div class="col-sl1">
                        <input type="text" v-model.number="i.sl_oc" :id="'sl51-' + k"
                            @keyup.enter="down2e('sl51-',k)"
                            @keyup.ctrl.down="down2e('sl51-',k)"
                            @keyup.ctrl.left="move2e('cp5-',k)"
                            @keyup.ctrl.right="move2e('sl52-',k)"
                        >
                    </div>
                    <div class="col-sl2">
                        <input type="text" v-model.number="i.sl_on" :id="'sl52-' + k"
                            @keyup.enter="down2e('sl52-',k)"
                            @keyup.ctrl.down="down2e('sl52-',k)"
                            @keyup.ctrl.left="move2e('sl51-',k)"
                            @keyup.ctrl.right="move2e('cp5-',k)"
                        >
                    </div>
                    <div class="col-gia">{`i.dongia | currency`}</div>
                    <div class="col-tien1">{`i.tien_oc | currency`}</div>
                    <div class="col-tien2">{`i.tien_on | currency`}</div>
                </div>
                <div class="row noidung">
                    <div class="col-tt">
                        <button type="button" class="btn btn-outline-dark" @click="addI5">
                            <i class="fa fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </section>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Cộng</div>
                <div class="col-2">Gxd2</div>
                <div class="col-3">{`c_Gxd2`}</div>
                <div class="col-4">{`n_Gxd2`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">Trong đó: giá trị trước thuế: Gxd2 x 100/110</div>
                <div class="col-2">L(B)</div>
                <div class="col-3">{`c_Lb`}</div>
                <div class="col-4">{`n_Lb`}</div>
            </div>
            <div class="row noidung">
                <div class="col-0"></div>
                <div class="col-1">THuế GTGT 10%</div>
                <div class="col-2">GTGT2</div>
                <div class="col-3">{`c_Vat2`}</div>
                <div class="col-4">{`n_Vat2`}</div>
            </div>
            <div class="row tong">
                <div class="col-0"></div>
                <div class="col-1">Tổng giá trị công trình: Gxd1 + Gxd2</div>
                <div class="col-2">Gxd</div>
                <div class="col-3">{`Gxd`}</div>
            </div>
        </section>
        </br></br>
        <section id="kettoan">

        </section>
    </div>
    <!-- script block -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../static/js/qtgt.js"></script>
</body>

</html>
