<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phòng kế hoạch</title>
    <!-- Required Stylesheets
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/qtgt.css">
</head>

<body>
    <div id="qtgt">
    <section id="ongnganh">
        <div class="row tieude">
        	<div class="col"><h3>Ống ngánh </h3></div>
        	<div class="col-vl"><b>vl</br>{`onVl | currency`}</b></div>
        	<div class="col-nc"><b>nc</br>{`onNc0 | currency`}</b></div>
        	<div class="col-mtc"><b>mtc</br>{`onMtc0 | currency`}</b></div>
        </div>
        <div id="on-noidung">
        	<div class="qt33">
		        <div class="row tieude">
		        	<div class="col-stt"><b>Stt</b></div>
		            <div class="col-chiphi"><b>Mô tả công tác (ống ngánh)</b></div>
		            <div class="col-dvt"><b>Đvt</b></div>
		            <div class="col-sl"><b>Số lượng</b></div>
		            <div class="col-vl"><b>Giá vl</b></div>
		            <div class="col-nc"><b>Giá nc</b></div>
		            <div class="col-mtc"><b>Giá mtc</b></div>
		            <div class="col-vl"><b>Trị giá vl</b></div>
		            <div class="col-nc"><b>Trị giá nc</b></div>
		            <div class="col-mtc"><b>Trị giá mtc</b></div>
                    <div class="col-crud"></div>
		        </div>
		        <div class="row noidung" v-for="(item, index) in dataqt33">
		            <div class="col-stt">{`index`}</div>
		            <div class="col-chiphi">{`item.diengiai`}</div>
		            <div class="col-dvt">{`item.dvt`}</div>
		            <div class="col-sl">
		            	<input type="number" v-model.number="item.soluong"
							@keyup="onKeyUp"
		            	>
		            </div>
		            <div class="col-vl">{`item.giavl | currency`}</div>
		            <div class="col-nc">{`item.gianc | currency`}</div>
		            <div class="col-mtc">{`item.giamtc | currency`}</div>
		            <div class="col-vl">{`item.trigiavl | currency`}</div>
		            <div class="col-nc">{`item.trigianc | currency`}</div>
		            <div class="col-mtc">{`item.trigiamtc | currency`}</div>
                    <!-- CRUD control -->
                    <div class="col-crud">
                        <span class="edit-item" @click="editQt33(item)">edit</span>
                        <span class="remove-item" @click="removeQt33(item)"> x</span>
                    </div>
		            <!-- phần dữ liệu ẩn -->
		            <div class="col-hidden" v-show=0>
                        {`item.stt`}
                        {`item.chiphiid`}
                    </div>
		        </div>
                <div class="row tongcong">
                    <div class="btn">
                        <button type="button" class="btn btn-primary" @click="addQt33">Add record</button>
                    </div>
                    <div class="col-tong"><b>Tổngcộng</b></div>
                    <div class="col-vl"><b>{`onVl | currency`}</b></br>vl</div>
                    <div class="col-nc"><b>{`onNc0 | currency`}</b></br>nc</div>
                    <div class="col-mtc"><b>{`onMtc0 | currency`}</b></br>mtc</div>
                </div>
		    </div>
    	    </br>
    	    </br>
	    	<div class="qt34">
		        <div class="row tieude">
		        	<div class="col0"><b>Stt</b></div>
		            <div class="col1"><b>Mô tả vật tư (ống ngánh)</b></div>
		            <div class="col2"><b>Đvt</b></div>
		            <div class="col3"><b>Số lượng</b></div>
		            <div class="col4"><b>Giá vl</b></div>
		            <div class="col5"><b>Giá nc</b></div>
		            <div class="col6"><b>Giá mtc</b></div>
		            <div class="col7"><b>Trị giá vl</b></div>
		            <div class="col8"><b>Trị giá nc</b></div>
		            <div class="col9"><b>Trị giá mtc</b></div>
		        </div>
		        <div class="row noidung" v-for="(item, index) in dataqt34">
		            <div class="col0">{`item.stt`}</div>
		            <div class="col1">{`item.diengiai`}</div>
		            <div class="col2">{`item.dvt`}</div>
		            <div class="col3">
		            	<input type="number" v-model.number="item.soluong"
							@keyup="onKeyUp"
		            	>
		            </div>
		            <div class="col4">{`item.giavl | currency`}</div>
		            <div class="col5">{`item.gianc | currency`}</div>
		            <div class="col6">{`item.giamtc | currency`}</div>
		            <div class="col7">{`item.trigiavl | currency`}</div>
		            <div class="col8">{`item.trigianc | currency`}</div>
		            <div class="col9">{`item.trigiamtc | currency`}</div>
		            <!-- phần dữ liệu ẩn -->
		            <div class="col-hiden" v-show=0>{`index`}</div>
		            <div class="col-hiden" v-show=0>{`item.chiphiid`}</div>
		        </div>
		    </div>
		</div>
    </section>
<!--
    <section class="tai-lap-mat-duong">
    	<div class="row tieudeQt35">
        	<div class="col-stt"><b>Stt</b></div>
            <div class="col-mota"><b>Mô tả công tác (TLMD)</b></div>
            <div class="col-dvt"><b>Đvt</b></div>
            <div class="col-sl1"><b>SL Ong cai/b></div>
            <div class="col-sl2"><b>SL Ong nganh/b></div>
            <div class="col-gia gia"><b>Don giá</b></div>
            <div class="col-tien tien"><b>Trị giá OC</b></div>
            <div class="col-tien tien"><b>Trị giá ON</b></div>
        </div>
        <div class="row qt35 qt35-noidung" v-for="(item, index) in dataqt35">
            <div class="col-stt">{`item.stt`}</div>
            <div class="col-mota">{`item.diengiai`}</div>
            <div class="col-dvt">{`item.dvt`}</div>
            <div class="col-sl1">
            	<input v-model.number="item.sl1"
					@keyup="onKeyUp"
            	>
            </div>
            <div class="col-sl2">
            	<input v-model.number="item.sl2"
					@keyup="onKeyUp"
            	>
            </div>
            <div class="col-gia gia">{`item.dongia`}</div>
            <div class="col-tien tien nc">{`item.trigia1`}</div>
            <div class="col-tien tien mtc">{`item.trigia2`}</div>
            !-- phần dữ liệu ẩn --
            <div class="col-hiden" v-show=0>{`index`}</div>
            <div class="col-hiden" v-show=0>{`item.chiphiid`}</div>
        </div>
        
    </section>
</br>
</br>
	<section class="phan-tong-ket">
		<div class="row tieude phantongket">
        	<div class="col-dvt"><b>Stt</b></div>
            <div class="col-dvt"><b>Mô tả công tác (TLMD)</b></div>
            <div class="col-dvt"><b>Đvt</b></div>
            <div class="col-dvt"><b>SL Ong cai</b></div>
            <div class="col-dvt"><b>SL Ong nganh/b></div>
            <div class="col-dvt gia"><b>Don giá</b></div>
            <div class="col-dvt tien"><b>Trị giá OC</b></div>
            <div class="col-dvt tien"><b>Trị giá ON</b></div>
        </div>
        <div class="row noidung phantongket">
            <div class="col-dvt">Gxd1</div>
            <div class="col-dvt">Gxd2</div>
            <div class="col-dvt">Gxd</div>
            !-- phần dữ liệu ẩn --
            <div class="col-hiden" v-show=0>a</div>
            <div class="col-hiden" v-show=0>b</div>
        </div>
-->
	</section>
    </div>
    <!-- script block -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../static/js/qtgt.js"></script>
</body>

</html>
