<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phòng kế hoạch</title>
    <!-- Required Stylesheets
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/qtgt.css">
</head>

<body>
    <div id="qtgt">
        <section id="ongcai">

        </section>
        </br></br>
        <section id="ongnganh">

        </section>
        </br></br>
        <section id="tailap">

        </section>
        </br></br>
    	<section id="tongket1">
    		<div class="row tieude">
            	<div class="col-dvt"><b>Khoản mục chi phí</b></div>
                <div class="col-dvt"><b>Cách tính</b></div>
                <div class="col-dvt"><b>Ký hiệu</b></div>
                <div class="col-dvt"><b>Ống cái</b></div>
                <div class="col-dvt gia"><b>Ống ngánh</b></div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">1.Chi phí vật tư (trước thuế )</div>
                <div class="col-cachtinh">vl</div>
                <div class="col-tien">{`c_Vl`}</div>
                <div class="col-tien">{`n_Vl`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">2.Chi phí nhân công</div>
                <div class="col-cachtinh">nc x {`heso.nc`}</div>
                <div class="col-tien">{`c_Nc`}</div>
                <div class="col-tien">{`n_Nc`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">3.Chi phí máy thi công</div>
                <div class="col-cachtinh">mtc x {`heso.mtc`}</div>
                <div class="col-tien">{`c_Mtc`}</div>
                <div class="col-tien">{`n_Mtc`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Cộng</div>
                <div class="col-tien">{`c_A`}</div>
                <div class="col-tien">{`n_A`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">4.Trực tiếp phí khác</div>
                <div class="col-cachtinh">A x {`heso.ttpk`}</div>
                <div class="col-tien">{`c_Tt`}</div>
                <div class="col-tien">{`n_Tt`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Chi phí trực tiếp</div>
                <div class="col-tien">{`c_T`}</div>
                <div class="col-tien">{`n_T`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">5.Chi phí chung</div>
                <div class="col-cachtinh">T x {`heso.cpchung`}</div>
                <div class="col-tien">{`c_C`}</div>
                <div class="col-tien">{`n_C`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Giá thành xây dựng</div>
                <div class="col-tien">{`c_Z`}</div>
                <div class="col-tien">{`n_Z`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">6.Thu nhập chịu thuế tính trước</div>
                <div class="col-cachtinh">Z x {`heso.thunhaptt`}</div>
                <div class="col-tien">{`c_Tl`}</div>
                <div class="col-tien">{`n_Tl`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Giá trị xây dựng trước thuế</div>
                <div class="col-tien">{`c_G`}</div>
                <div class="col-tien">{`n_G`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">7.Chi phí khảo sát, thiết kế</div>
                <div class="col-cachtinh">G x {`heso.khaosat`} x {`heso.thietke`} </div>
                <div class="col-tien">{`c_I`}</div>
                <div class="col-tien">{`n_I`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">8.Chi phí giám sát thi công</div>
                <div class="col-cachtinh">G x {`heso.gstc`} </div>
                <div class="col-tien">{`c_J`}</div>
                <div class="col-tien">{`n_J`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Tổng giá trị đầu tư xây dựng trước thuế</div>
                <div class="col-tien">{`c_La`}</div>
                <div class="col-tien">{`n_La`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi">9.Thuế GTGT đầu ra</div>
                <div class="col-cachtinh">L x 10%</div>
                <div class="col-tien">{`c_Vat1`}</div>
                <div class="col-tien">{`n_Vat1`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Tổng giá trị đầu tư xây dựng sau thuế</div>
                <div class="col-tien">{`c_Gxd1`}</div>
                <div class="col-tien">{`n_Gxd1`}</div>
            </div>
    	</section>
        </br></br>
        <section id="tongket2">
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Cộng</div>
                <div class="col-tien">{`c_Gxd2`}</div>
                <div class="col-tien">{`n_Gxd2`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Trong đó: giá trị trước thuế: Gxd2 x 100/110</div>
                <div class="col-tien">{`c_Lb`}</div>
                <div class="col-tien">{`n_Lb`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">THuế GTGT 10%</div>
                <div class="col-tien">{`c_Vat2`}</div>
                <div class="col-tien">{`n_Vat2`}</div>
            </div>
            <div class="row noidung">
                <div class="col-chiphi"></div>
                <div class="col-cachtinh">Tổng giá trị công trình: Gxd1 + Gxd2</div>
                <div class="col-tien">{`Gxd`}</div>
            </div>
        </section>
        </br></br>
        <section id="kettoan">

        </section>
    </div>
    <!-- script block -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../static/js/qtgt.js"></script>
</body>

</html>
